.venv
myworld

/migrations

*.pyc
__pycache__/
db.sqlite3
/staticfiles/
/media/
.env
.DS_Store
*.log
*.pot
*.py[cod]
*.sqlite3
*.pyo
*.swp
*.swo
*.swn
*.bak
*.orig
*.tmp
*.old
*.save
*.cover
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.idea/
*.vscode/
*.coverage
.coverage.*