<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- ================== BEGIN core-css ================== -->
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" />
    <link href="{% static 'table.css' %}" rel="stylesheet" />
    <!-- ================== END core-css ================== -->
  </head>
  <body>
    <!-- BEGIN #app -->
    <div id="app" class="app">
      <!-- BEGIN #header -->
      <div id="header" class="app-header">
        <!-- BEGIN mobile-toggler -->
        <div class="mobile-toggler d-lg-none">
          <button
            type="button"
            class="menu-toggler"
            data-toggle-class="app-sidebar-mobile-toggled"
            data-toggle-target=".app">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </button>
        </div>
        <!-- END mobile-toggler -->

        <!-- BEGIN brand (Logo) -->
        <div class="brand">
          <a href="#" class="brand-logo d-flex align-items-center justify-content-center">
            <span style="height: 1.625rem">
              {% comment %} remove class and add inline css {% endcomment %}
              <img src="{% static 'img/logo/logo.png' %}" alt="logo" />
            </span>
          </a>
        </div>

        <!-- END brand -->

        <!-- Desktop Navbar -->
        <div class="navbar navbar-expand-lg d-none d-lg-flex">
          <!-- Left navigation items -->
          <div class="d-flex align-items-center">
            <div class="menu-item">
              <a
                href="{% url 'home' %}"
                class="menu-link text-decoration-none {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                <span class="menu-text">Home</span>
              </a>
            </div>
            <div class="menu-item m-lg-5">
              <a
                href="{% url 'search_data' %}"
                class="menu-link text-decoration-none {% if request.resolver_match.url_name == 'search_data' %}active{% endif %}">
                <span class="menu-text">Domain History</span>
              </a>
            </div>
          </div>

          <!-- Centered Search Bar -->
          <form class="d-flex justify-content-end" method="GET" action="{% url 'search_data' %}">
            <div class="input-group">
              <input
                type="text"
                name="q"
                class="form-control"
                placeholder="Search..."
                aria-label="Search" />
              <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>

        <!-- User Profile -->
        <div class="menu">
          <div class="menu-item dropdown dropdown-mobile-full">
            <a href="#" data-bs-toggle="dropdown" class="menu-link">
              <div class="menu-text d-lg-block d-none">
                {% comment %} remove d-none class {% endcomment %}
                <h6>{{ user.first_name }}</h6>
              </div>
              <div class="menu-img online">
                <i class="bi bi-person-fill fs-32px mb-n3"></i>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="{% url 'logout' %}">LOGOUT</a>
              <a class="dropdown-item" href="{% url 'settings' %}">SETTINGS</a>
            </div>
          </div>
        </div>
      </div>
      <!-- END #header -->

      <!-- BEGIN sidebar for mobile only -->
      <div id="sidebar" class="app-sidebar d-lg-none">
        <!-- Menu items -->
        <div class="menu">
          <div class="menu-item">
            <a href="{% url 'home' %}" class="menu-link">
              <span class="menu-text">Home</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="{% url 'search_data' %}" class="menu-link">
              <span class="menu-text">Domain History</span>
            </a>
          </div>
        </div>
      </div>
      <!-- END sidebar for mobile -->

      <!-- BEGIN mobile-sidebar-backdrop -->
      <button
        class="app-sidebar-mobile-backdrop"
        data-toggle-target=".app"
        data-toggle-class="app-sidebar-mobile-toggled"></button>
      <!-- END mobile-sidebar-backdrop -->

      <!-- BEGIN #content -->
      <div id="content" class="app-content">
        <h1 class="page-header">{{ page_title }}</h1>
        {% block content %} {% endblock %}
      </div>
      <!-- END #content -->
    </div>
    <!-- END #app -->

    <!-- ================== BEGIN core-js ================== -->
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
    <!-- ================== END core-js ================== -->
  </body>
</html>
