{% extends "base.html" %}
{% block content %}
<!-- BEGIN row -->
<div class="container">
<!-- BEGIN col-3 -->
	<div class="row justify-content-end align-items-center">
	<!-- BEGIN card -->
		<div class="card">
		<!-- BEGIN card-body -->
			<div class="card-body">
			<!-- BEGIN title -->
				<div class="d-flex fw-bold mb-3">
					<span class="flex-grow-1">Domain Date</span>
				</div>
				<div class="form-input flex-grow-1">
					<input type="text" class="form-control form-control-lg" id="date" name="date" placeholder="YYYY-MM-DD" required>
					<div class="mt-3">
						<button type="submit" class="btn d-block btn-outline-theme" onclick="date_info()">Search</button>
					</div>
				</div>
			</div> 
			<!-- END title -->
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="domain_Div"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

	
<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="whois_Div"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div class="dnsdumpD"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<!-- BEGIN #content -->
<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div class="vtotaldiv"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="crt_data_div"></div>
					<div id="CertificateDIV"></div>
					<div id="Issued_Certificates_DIV"></div>
					<div id="container_div"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="crt_data"></div>
					<div id="TransparencyDiv"></div>
					<div id="FingerprintsDiv"></div>
					<div id="Certificate"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div  id="crttable"></div> 
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="issuediv"></div>
					<div id="ReportDataDiv"></div>
					<div id="certificates_div"></div>
					<div id="DNSDiv"></div>
					<div id="General_InformationDiv"></div>
					<div id="opensslhandshakediv"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="cms"></div> 
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="waf_Div"></div> 
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="buildwit_Div"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="fuzz_Div"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="nmap_Div"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="wps_div"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end align-items-center mt-5">
		<div class="card">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
				</div>
				<div class="small text-inverse text-opacity-50 text-truncate">
					<div id="result"></div>
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}