<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- ================== BEGIN core-css ================== -->
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" />
    <!-- ================== END core-css ================== -->
  </head>
  <body class="pace-top">
    <!-- BEGIN #app -->
    <div id="app" class="app app-full-height app-without-header">
      <!-- BEGIN login -->
      <div class="login">
        <!-- BEGIN login-content -->
        <div class="login-content">
          <form action="{%url 'login_user'%}" method="POST">
            {% csrf_token %}
            <h1 class="text-center">Sign In</h1>
            <div class="text-inverse text-opacity-50 text-center mb-4">
              For your protection, please verify your identity.
            </div>
            <div class="mb-3">
              <label class="form-label">Username <span class="text-danger">*</span></label>
              <input
                type="text"
                name="username"
                class="form-control form-control-lg bg-inverse bg-opacity-5"
                placeholder="Username" />
            </div>
            <div class="mb-3">
              <div class="d-flex">
                <label class="form-label">Password <span class="text-danger">*</span></label>
              </div>
              <input
                type="password"
                name="password"
                class="form-control form-control-lg bg-inverse bg-opacity-5"
                placeholder="password" />
            </div>
            <button type="submit" class="btn btn-outline-theme btn-lg d-block w-100 fw-500 mb-3"
              >Sign In</button
            >
            <div class="text-center text-inverse text-opacity-50">
              Don't have an account yet? <a href="{% url 'register' %}">Sign up</a>.
            </div>
          </form>
          <div class="form-group message-container">
            {% for message in messages %}
            <div class="alert alert-dark" role="alert"> {{message}} </div>
            {% endfor %}
          </div>
        </div>
        <!-- END login-content -->
      </div>
      <!-- END login -->

      <!-- BEGIN theme-panel -->
      {% comment %}
      <div class="app-theme-panel">
        <div class="app-theme-panel-container">
          <a href="javascript:;" data-toggle="theme-panel-expand" class="app-theme-toggle-btn"
            ><i class="bi bi-sliders"></i
          ></a>
          <div class="app-theme-panel-content">
            <div class="small fw-bold text-inverse mb-1">Display Mode</div>
            <div class="card mb-3">
              <!-- BEGIN card-body -->
              <div class="card-body p-2">
                <div class="row gx-2">
                  <div class="col-6">
                    <a
                      href="javascript:;"
                      data-toggle="theme-mode-selector"
                      data-theme-mode="dark"
                      class="app-theme-mode-link active">
                      <div class="img"
                        ><img
                          src="{% static 'img/mode/dark.jpg'%}"
                          class="object-fit-cover"
                          height="76"
                          width="76"
                          alt="Dark Mode"
                      /></div>
                      <div class="text">Dark</div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a
                      href="javascript:;"
                      data-toggle="theme-mode-selector"
                      data-theme-mode="light"
                      class="app-theme-mode-link">
                      <div class="img"
                        ><img
                          src="{% static 'img/mode/light.jpg' %}"
                          class="object-fit-cover"
                          height="76"
                          width="76"
                          alt="Light Mode"
                      /></div>
                      <div class="text">Light</div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- END card-body -->

              <!-- BEGIN card-arrow -->
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
              <!-- END card-arrow -->
            </div>

            <div class="small fw-bold text-inverse mb-1">Theme Color</div>
            <div class="card mb-3">
              <!-- BEGIN card-body -->
              <div class="card-body p-2">
                <!-- BEGIN theme-list -->
                <div class="app-theme-cover">
                  <div class="app-theme-cover-item active">
                    <a
                      href="javascript:;"
                      class="app-theme-cover-link"
                      style="background-image: url({%static'img/cover/cover-thumb-1.jpg'%})"
                      data-theme-cover-class=""
                      data-toggle="theme-cover-selector"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-container="body"
                      data-bs-title="Default"
                      >&nbsp;</a
                    >
                  </div>
                  <div class="app-theme-cover-item">
                    <a
                      href="javascript:;"
                      class="app-theme-cover-link"
                      style="background-image: url({%static'img/cover/cover-thumb-1.jpg'%})"
                      data-theme-cover-class="bg-cover-2"
                      data-toggle="theme-cover-selector"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-container="body"
                      data-bs-title="Cover 2"
                      >&nbsp;</a
                    >
                  </div>
                  <div class="app-theme-cover-item">
                    <a
                      href="javascript:;"
                      class="app-theme-cover-link"
                      style="background-image: url({%static'img/cover/cover-thumb-2.jpg'%})"
                      data-theme-cover-class="bg-cover-3"
                      data-toggle="theme-cover-selector"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-container="body"
                      data-bs-title="Cover 3"
                      >&nbsp;</a
                    >
                  </div>
                  <div class="app-theme-cover-item">
                    <a
                      href="javascript:;"
                      class="app-theme-cover-link"
                      style="background-image: url({%static'img/cover/cover-thumb-3.jpg'%})"
                      data-theme-cover-class="bg-cover-4"
                      data-toggle="theme-cover-selector"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-container="body"
                      data-bs-title="Cover 4"
                      >&nbsp;</a
                    >
                  </div>
                  <div class="app-theme-cover-item">
                    <a
                      href="javascript:;"
                      class="app-theme-cover-link"
                      style="background-image: url({%static'img/cover/cover-thumb-4.jpg'%})"
                      data-theme-cover-class="bg-cover-5"
                      data-toggle="theme-cover-selector"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-container="body"
                      data-bs-title="Cover 5"
                      >&nbsp;</a
                    >
                  </div>
                  <div class="app-theme-cover-item">
                    <a
                      href="javascript:;"
                      class="app-theme-cover-link"
                      style="background-image: url({%static'img/cover/cover-thumb-5.jpg'%})"
                      data-theme-cover-class="bg-cover-6"
                      data-toggle="theme-cover-selector"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-container="body"
                      data-bs-title="Cover 6"
                      >&nbsp;</a
                    >
                  </div>
                  <div class="app-theme-cover-item">
                    <a
                      href="javascript:;"
                      class="app-theme-cover-link"
                      style="background-image: url({%static'img/cover/cover-thumb-6.jpg'%})"
                      data-theme-cover-class="bg-cover-7"
                      data-toggle="theme-cover-selector"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-container="body"
                      data-bs-title="Cover 7"
                      >&nbsp;</a
                    >
                  </div>
                  <div class="app-theme-cover-item">
                    <a
                      href="javascript:;"
                      class="app-theme-cover-link"
                      style="background-image: url({%static'img/cover/cover-thumb-7.jpg'%})"
                      data-theme-cover-class="bg-cover-8"
                      data-toggle="theme-cover-selector"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-container="body"
                      data-bs-title="Cover 8"
                      >&nbsp;</a
                    >
                  </div>
                  <div class="app-theme-cover-item">
                    <a
                      href="javascript:;"
                      class="app-theme-cover-link"
                      style="background-image: url({%static'img/cover/cover-thumb-8.jpg'%})"
                      data-theme-cover-class="bg-cover-9"
                      data-toggle="theme-cover-selector"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-container="body"
                      data-bs-title="Cover 9"
                      >&nbsp;</a
                    >
                  </div>
                </div>
                <!-- END theme-cover -->
              </div>
              <!-- END card-body -->

              <!-- BEGIN card-arrow -->
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
              <!-- END card-arrow -->
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
      <!-- END theme-panel -->
      <!-- BEGIN btn-scroll-top -->
      <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"
        ><i class="fa fa-arrow-up"></i
      ></a>
      <!-- END btn-scroll-top -->
    </div>
    <!-- END #app -->

    <!-- ================== BEGIN core-js ================== -->
    <script src="{% static 'webfonts/script.js' %}"></script>
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>

    <!-- ================== END core-js ================== -->
  </body>
</html>
